# Read the data ###

In [1]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

In [2]:
data = pd.read_csv('data/graph_test.csv') #dataset with title
data = data.sort_values(by='modularity_class')
data = data.drop(columns=['timeset'])

data_e = pd.read_csv('data/extracts.csv') #dataset with scraped extracts (summary of page)from web 
data_t = pd.read_csv('data/texts.csv') #dataset with scraped extracts (texts of page)from web

df = data.join(data_e.set_index('id'), on='Id')
df = df.join(data_t.set_index('id'), on='Id')
df = df.dropna()
df = df.drop(columns=['Label'])

In [3]:
df.head()

,Id,modularity_class,title,extract,text
176,427412,0,Saint-Nazaire,Saint-Nazaire (French pronunciation: ​[sɛ̃.na....,"<p class=""mw-empty-elt"">\n</p>\n<p><b>Saint-Na..."
396,152639,0,"Robert Stewart, Viscount Castlereagh","Robert Stewart, 2nd Marquess of Londonderry, ...","<p class=""mw-empty-elt"">\n\n</p>\n<p><b>Robert..."
541,46383,0,Jane Seymour,Jane Seymour (c. 1508 – 24 October 1537) was Q...,"<p class=""mw-empty-elt"">\n</p>\n\n<p><b>Jane S..."
131,1057856,0,Jahangir Khan,"Jahangir Khan, HI (Pashto / Urdu: جهانگير خان‎...","<p class=""mw-empty-elt"">\n\n</p>\n<p><b>Jahang..."
428,75795,0,Juan Carlos I of Spain,Juan Carlos I (Spanish: [xwaŋˈkaɾlos]; Juan Ca...,"<p class=""mw-empty-elt"">\n</p>\n\n<p><b>Juan C..."

In [4]:
def chunks(l, n):
    n = max(1, n)
    return (l[i:i+n] for i in range(0, len(l), n))

## Complete the dataset - web scraping ###

In [ ]:
# import requests
# import json

# df = pd.DataFrame(columns=['id', 'title', 'extract'])

# ids = sorted(data.Id.tolist())
# id_chunks = chunks(ids, 49)
# for chunk in id_chunks:
#     string_ids = ""
#     for idd in chunk:
#         string_ids = string_ids + str(idd) + '|'
#     base_url = 'https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro&explaintext&redirects=1&pageids='
#     url = base_url + string_ids[:-1]
#     res = requests.get(url)
#     response = json.loads(res.text)
#     print(response)
#     for key in response['query']['pages']:
#         try:
#             pageid = response['query']['pages'][key]['pageid']
#             title = response['query']['pages'][key]['title']
#             extract = response['query']['pages'][key]['extract']
#             df = df.append({'id': pageid, 'title': title, 'extract': extract}, ignore_index=True)
#         except KeyError as e:
#             pass
# #             print(e, key)

In [83]:
# import requests
# import json

# df = pd.DataFrame(columns=['id', 'title', 'extract'])

# ids = sorted(data.Id.tolist())
# for idd in ids:
#     base_url = 'https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro&explaintext&redirects=1&pageids='
#     url = base_url + str(idd)
#     res = requests.get(url)
#     response = json.loads(res.text)
#     for key in response['query']['pages']:
#         try:
#             pageid = response['query']['pages'][key]['pageid']
#             title = response['query']['pages'][key]['title']
#             extract = response['query']['pages'][key]['extract']
#             df = df.append({'id': pageid, 'title': title, 'extract': extract}, ignore_index=True)
#         except KeyError as e:
#             print(e, key)

In [82]:
# import requests
# import json

# df = pd.DataFrame(columns=['id', 'text'])

# ids = sorted(data.Id.tolist())
# for idd in ids:
#     base_url = 'https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&redirects=true&pageids='
#     #base_url = 'https://en.wikipedia.org/w/api.php?format=json&action=query&prop=extracts&exintro&explaintext&redirects=1&pageids='
#     url = base_url + str(idd)
#     res = requests.get(url)
#     response = json.loads(res.text)
#     for key in response['query']['pages']:
#         try:
#             pageid = response['query']['pages'][key]['pageid']
#             texts = response['query']['pages'][key]['extract']
#             df = df.append({'id': pageid, 'text': texts}, ignore_index=True)
#         except KeyError as e:
#             print(e, key)

In [6]:
grouped_title = df.groupby("modularity_class")['title'].apply(' '.join).reset_index()

In [7]:
grouped_extract = df.groupby("modularity_class")['extract'].apply(' '.join).reset_index()

In [8]:
grouped_extract.head()

   modularity_class                                            extract
0                 0  Saint-Nazaire (French pronunciation: ​[sɛ̃.na....
1                 1  Gadsby is a 1939 novel by Ernest Vincent Wrigh...
2                 2  Bombshell is a 1933 American pre-Code romantic...
3                 3  Patrick Michael Shanahan (born June 27, 1962) ...
4                 4  West Side Story is a 1961 American romantic mu...

# Clean the data

In [9]:
import re
import string

# Apply a first round of text cleaning techniques
def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.strip()
    text = text.lower()
    text = text.replace('\n', ' ')
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = re.sub(r'[^\x00-\x7F\x80-\xFF\u0100-\u017F\u0180-\u024F\u1E00-\u1EFF]', u'', text)  #remove non-latin chars 
    return text

round1 = lambda x: clean_text_round1(x)

In [10]:
data_clean = pd.DataFrame(grouped_extract.extract.apply(round1))
data_clean.head()

                                             extract
0  saintnazaire french pronunciation  breton sant...
1  gadsby is a  novel by ernest vincent wright wr...
2  bombshell is a  american precode romantic come...
3  patrick michael shanahan born june   is an ame...
4  west side story is a  american romantic musica...

In [12]:
# Let's pickle it for later use
data_clean.to_pickle("data_clean.pkl")

# Document-Term Matrix

In [13]:
# We are going to create a document-term matrix using CountVectorizer, and exclude common English stop words
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(data_clean.extract)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = data_clean.index
data_dtm

,aardvark,aaron,ab,ababa,abandon,abandoned,abba,abbas,abbasid,abbassia,...,ögedei,āṣifat,īsā,ōban,ḥizb,ḥiṣān,ḥusayn,ḥusnī,ḥusēn,ḵāšuqjī
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,1,0,0,2,0,0,...,0,1,0,0,0,0,0,0,0,1
12,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,1,1,0,0,1,...,0,0,1,0,1,0,1,1,1,0
17,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [15]:
# Let's pickle it for later use
data_dtm.to_pickle("dtm.pkl")

In [16]:
# Find the top 30 words in each cluster
top_dict = {}
for c in data_dtm.transpose().columns:
    top = data_dtm.transpose()[c].sort_values(ascending=False).head(30)
    top_dict[c]= list(zip(top.index, top.values))

top_dict

{0: [('french', 27),
  ('edward', 25),
  ('battle', 24),
  ('france', 23),
  ('army', 20),
  ('king', 20),
  ('order', 17),
  ('war', 16),
  ('son', 14),
  ('juan', 14),
  ('second', 13),
  ('british', 13),
  ('napoleon', 13),
  ('blücher', 13),
  ('carlos', 12),
  ('english', 12),
  ('england', 12),
  ('members', 11),
  ('years', 11),
  ('waterloo', 11),
  ('military', 11),
  ('henry', 11),
  ('city', 11),
  ('days', 10),
  ('paris', 10),
  ('coalition', 10),
  ('reign', 9),
  ('europe', 9),
  ('world', 9),
  ('toulouse', 9)],
 1: [('championship', 31),
  ('wwe', 31),
  ('united', 31),
  ('american', 22),
  ('scientology', 22),
  ('city', 22),
  ('champion', 19),
  ('wrestling', 19),
  ('professional', 17),
  ('title', 17),
  ('team', 17),
  ('club', 17),
  ('league', 16),
  ('soccer', 15),
  ('church', 14),
  ('world', 14),
  ('creed', 13),
  ('tampa', 13),
  ('later', 13),
  ('north', 13),
  ('states', 13),
  ('wrestler', 13),
  ('year', 13),
  ('tna', 13),
  ('area', 12),
  ('novel', 12),
  ('born', 12),
  ('new', 12),
  ('known', 12),
  ('death', 11)],
 2: [('vanderbilt', 88),
  ('american', 57),
  ('new', 36),
  ('family', 32),
  ('york', 25),
  ('cornelius', 19),
  ('known', 19),
  ('born', 18),
  ('member', 18),
  ('jeopardy', 18),
  ('century', 17),
  ('whitney', 17),
  ('city', 15),
  ('gloria', 13),
  ('states', 12),
  ('prominent', 12),
  ('william', 12),
  ('july', 12),
  ('united', 12),
  ('film', 11),
  ('comedy', 11),
  ('trial', 11),
  ('john', 11),
  ('january', 11),
  ('best', 11),
  ('jennings', 10),
  ('furness', 10),
  ('world', 10),
  ('october', 10),
  ('built', 9)],
 3: [('secretary', 18),
  ('shanahan', 13),
  ('defense', 13),
  ('states', 7),
  ('acting', 7),
  ('united', 7),
  ('esper', 7),
  ('patrick', 7),
  ('army', 6),
  ('department', 5),
  ('june', 5),
  ('trump', 4),
  ('confirmed', 3),
  ('senate', 3),
  ('official', 3),
  ('position', 3),
  ('president', 3),
  ('announced', 3),
  ('served', 3),
  ('born', 3),
  ('september', 3),
  ('mark', 2),
  ('politician', 2),
  ('government', 2),
  ('raytheon', 2),
  ('office', 2),
  ('donald', 2),
  ('previously', 2),
  ('war', 2),
  ('appointed', 1)],
 4: [('film', 43),
  ('american', 28),
  ('films', 28),
  ('television', 20),
  ('award', 17),
  ('role', 17),
  ('best', 17),
  ('career', 15),
  ('musical', 14),
  ('born', 14),
  ('academy', 14),
  ('including', 14),
  ('series', 12),
  ('director', 12),
  ('tisdale', 12),
  ('awards', 11),
  ('age', 11),
  ('actor', 10),
  ('lumet', 10),
  ('singer', 10),
  ('actress', 10),
  ('garfield', 9),
  ('united', 9),
  ('received', 9),
  ('began', 9),
  ('work', 9),
  ('hollywood', 8),
  ('producer', 8),
  ('death', 8),
  ('roles', 8)],
 5: [('aircraft', 47),
  ('air', 40),
  ('fighter', 26),
  ('airbus', 24),
  ('new', 19),
  ('development', 19),
  ('systems', 17),
  ('united', 14),
  ('boeing', 13),
  ('bae', 13),
  ('company', 12),
  ('service', 11),
  ('defence', 11),
  ('jet', 11),
  ('eurofighter', 10),
  ('combat', 9),
  ('flight', 9),
  ('sixthgeneration', 9),
  ('family', 9),
  ('russian', 8),
  ('ethiopian', 8),
  ('typhoon', 8),
  ('engine', 8),
  ('british', 8),
  ('dassault', 8),
  ('generation', 8),
  ('future', 8),
  ('version', 8),
  ('designed', 7),
  ('market', 7)],
 6: [('film', 38),
  ('love', 28),
  ('species', 26),
  ('whales', 25),
  ('right', 25),
  ('whale', 20),
  ('united', 17),
  ('pacific', 17),
  ('mauritius', 16),
  ('parakeet', 16),
  ('north', 15),
  ('women', 14),
  ('series', 14),
  ('including', 14),
  ('population', 13),
  ('states', 13),
  ('american', 12),
  ('family', 12),
  ('islands', 12),
  ('actress', 12),
  ('best', 12),
  ('novel', 12),
  ('world', 12),
  ('arabian', 12),
  ('crocodiles', 12),
  ('smith', 11),
  ('born', 11),
  ('known', 11),
  ('philosophy', 11),
  ('award', 11)],
 7: [('series', 40),
  ('television', 19),
  ('born', 18),
  ('film', 17),
  ('american', 17),
  ('known', 15),
  ('comics', 13),
  ('dc', 13),
  ('boys', 11),
  ('new', 9),
  ('book', 9),
  ('roles', 9),
  ('comic', 9),
  ('actor', 9),
  ('bachelor', 9),
  ('hotel', 9),
  ('role', 8),
  ('marvel', 8),
  ('issue', 8),
  ('best', 8),
  ('model', 7),
  ('abc', 7),
  ('july', 6),
  ('appeared', 6),
  ('host', 6),
  ('amazon', 6),
  ('world', 6),
  ('actress', 6),
  ('drama', 6),
  ('illustrated', 6)],
 8: [('game', 55),
  ('games', 39),
  ('video', 24),
  ('released', 20),
  ('rare', 18),
  ('spectrum', 18),
  ('ultimate', 18),
  ('graphics', 15),
  ('group', 14),
  ('computer', 13),
  ('series', 12),
  ('knight', 12),
  ('song', 12),
  ('zx', 12),
  ('united', 12),
  ('wrestling', 12),
  ('white', 11),
  ('magazine', 11),
  ('company', 11),
  ('american', 11),
  ('including', 11),
  ('new', 11),
  ('born', 10),
  ('isometric', 10),
  ('vikernes', 10),
  ('later', 10),
  ('championship', 10),
  ('lore', 9),
  ('xbox', 9),
  ('bbc', 9)],
 9: [('prints', 17),
  ('century', 14),
  ('printing', 14),
  ('ukiyoe', 13),
  ('museum', 13),
  ('series', 12),
  ('british', 12),
  ('japanese', 12),
  ('art', 11),
  ('mirror', 11),
  ('games', 10),
  ('helmet', 9),
  ('east', 9),
  ('used', 9),
  ('fuji', 8),
  ('loot', 8),
  ('surface', 8),
  ('views', 7),
  ('works', 7),
  ('known', 7),
  ('artists', 7),
  ('hiroshiges', 7),
  ('mount', 7),
  ('woodblock', 7),
  ('sutton', 6),
  ('western', 6),
  ('hokusai', 6),
  ('maryon', 6),
  ('metalwork', 6),
  ('widely', 6)],
 10: [('album', 47),
  ('american', 39),
  ('united', 22),
  ('born', 21),
  ('released', 20),
  ('music', 19),
  ('series', 19),
  ('band', 18),
  ('megadeth', 18),
  ('states', 17),
  ('sexual', 16),
  ('clarkson', 16),
  ('number', 15),
  ('billboard', 15),
  ('studio', 15),
  ('security', 14),
  ('following', 14),
  ('albums', 14),
  ('new', 13),
  ('women', 13),
  ('guitarist', 13),
  ('games', 12),
  ('metal', 12),
  ('hunger', 12),
  ('records', 12),
  ('federal', 11),
  ('grammy', 11),
  ('pop', 11),
  ('chart', 11),
  ('mustaine', 11)],
 11: [('united', 45),
  ('iran', 44),
  ('saudi', 44),
  ('states', 39),
  ('property', 26),
  ('government', 24),
  ('iranian', 24),
  ('sanctions', 21),
  ('president', 21),
  ('international', 19),
  ('khashoggi', 17),
  ('fsln', 15),
  ('war', 14),
  ('film', 14),
  ('waters', 14),
  ('including', 14),
  ('national', 14),
  ('foreign', 14),
  ('consulate', 13),
  ('irans', 13),
  ('american', 12),
  ('reagan', 12),
  ('gulf', 12),
  ('november', 12),
  ('october', 12),
  ('nicaragua', 12),
  ('action', 11),
  ('high', 11),
  ('contras', 11),
  ('persian', 11)],
 12: [('american', 26),
  ('film', 23),
  ('hydrogen', 23),
  ('series', 21),
  ('television', 16),
  ('born', 14),
  ('united', 14),
  ('comedy', 13),
  ('city', 13),
  ('states', 13),
  ('landis', 12),
  ('gas', 12),
  ('known', 12),
  ('writing', 11),
  ('disease', 10),
  ('rail', 10),
  ('february', 9),
  ('murphy', 9),
  ('years', 9),
  ('directed', 9),
  ('based', 8),
  ('energy', 8),
  ('gases', 8),
  ('people', 8),
  ('world', 8),
  ('actor', 8),
  ('new', 8),
  ('written', 8),
  ('action', 7),
  ('dysgraphia', 7)],
 13: [('dynasty', 49),
  ('chinese', 39),
  ('emperor', 32),
  ('tang', 29),
  ('han', 23),
  ('li', 20),
  ('nanyue', 20),
  ('china', 14),
  ('sui', 14),
  ('jade', 14),
  ('country', 12),
  ('zhao', 12),
  ('bc', 10),
  ('including', 10),
  ('population', 10),
  ('taizong', 9),
  ('central', 9),
  ('somalia', 9),
  ('regions', 9),
  ('international', 8),
  ('southern', 8),
  ('empire', 8),
  ('northern', 8),
  ('century', 8),
  ('somali', 8),
  ('established', 8),
  ('languages', 8),
  ('nicaragua', 8),
  ('kingdom', 7),
  ('yang', 7)],
 14: [('film', 59),
  ('series', 41),
  ('actress', 32),
  ('american', 31),
  ('born', 28),
  ('films', 24),
  ('awards', 20),
  ('television', 20),
  ('award', 18),
  ('actor', 17),
  ('known', 17),
  ('roles', 17),
  ('best', 15),
  ('peewee', 14),
  ('reubens', 13),
  ('april', 13),
  ('role', 13),
  ('scoobydoo', 13),
  ('comedy', 11),
  ('drama', 11),
  ('debut', 10),
  ('million', 10),
  ('media', 10),
  ('began', 10),
  ('produced', 10),
  ('fashion', 9),
  ('music', 9),
  ('spanish', 9),
  ('divergent', 9),
  ('including', 9)],
 15: [('aircraft', 72),
  ('air', 72),
  ('force', 40),
  ('military', 34),
  ('area', 29),
  ('states', 28),
  ('united', 27),
  ('aerial', 25),
  ('iran', 25),
  ('unmanned', 25),
  ('war', 23),
  ('command', 22),
  ('defence', 21),
  ('systems', 20),
  ('iranian', 19),
  ('control', 18),
  ('reconnaissance', 17),
  ('soviet', 16),
  ('forces', 16),
  ('defense', 16),
  ('surveillance', 15),
  ('raaf', 15),
  ('vehicle', 15),
  ('flight', 15),
  ('operations', 15),
  ('used', 15),
  ('uavs', 14),
  ('islamic', 14),
  ('missiles', 14),
  ('based', 13)],
 16: [('egyptian', 56),
  ('president', 55),
  ('egypt', 54),
  ('morsi', 45),
  ('military', 31),
  ('june', 27),
  ('arabic', 26),
  ('minister', 25),
  ('election', 25),
  ('mohamed', 24),
  ('arab', 22),
  ('french', 22),
  ('war', 21),
  ('mubarak', 21),
  ('muslim', 21),
  ('born', 20),
  ('brotherhood', 19),
  ('government', 18),
  ('served', 18),
  ('presidential', 17),
  ('prime', 16),
  ('political', 16),
  ('july', 15),
  ('august', 15),
  ('egypts', 15),
  ('church', 14),
  ('france', 13),
  ('office', 13),
  ('party', 13),
  ('coup', 13)],
 17: [('film', 39),
  ('american', 38),
  ('united', 27),
  ('states', 25),
  ('award', 23),
  ('album', 21),
  ('released', 19),
  ('library', 19),
  ('series', 19),
  ('known', 18),
  ('best', 18),
  ('national', 16),
  ('born', 16),
  ('actor', 15),
  ('music', 15),
  ('received', 14),
  ('books', 14),
  ('discworld', 13),
  ('world', 13),
  ('albums', 13),
  ('novels', 12),
  ('june', 12),
  ('imam', 11),
  ('death', 11),
  ('nominated', 11),
  ('awards', 11),
  ('congress', 11),
  ('space', 11),
  ('television', 11),
  ('million', 11)]}

In [17]:
# Look at the most common top words --> add them to the stop word list
from collections import Counter

# Let's first pull out the top 30 words for each cluster
words = []
for cluster in data_dtm.transpose().columns:
    top = [word for (word, count) in top_dict[cluster]]
    for t in top:
        words.append(t)
        
words

['french',
 'edward',
 'battle',
 'france',
 'army',
 'king',
 'order',
 'war',
 'son',
 'juan',
 'second',
 'british',
 'napoleon',
 'blücher',
 'carlos',
 'english',
 'england',
 'members',
 'years',
 'waterloo',
 'military',
 'henry',
 'city',
 'days',
 'paris',
 'coalition',
 'reign',
 'europe',
 'world',
 'toulouse',
 'championship',
 'wwe',
 'united',
 'american',
 'scientology',
 'city',
 'champion',
 'wrestling',
 'professional',
 'title',
 'team',
 'club',
 'league',
 'soccer',
 'church',
 'world',
 'creed',
 'tampa',
 'later',
 'north',
 'states',
 'wrestler',
 'year',
 'tna',
 'area',
 'novel',
 'born',
 'new',
 'known',
 'death',
 'vanderbilt',
 'american',
 'new',
 'family',
 'york',
 'cornelius',
 'known',
 'born',
 'member',
 'jeopardy',
 'century',
 'whitney',
 'city',
 'gloria',
 'states',
 'prominent',
 'william',
 'july',
 'united',
 'film',
 'comedy',
 'trial',
 'john',
 'january',
 'best',
 'jennings',
 'furness',
 'world',
 'october',
 'built',
 'secretary',
 'shanahan',
 'defense',
 'states',
 'acting',
 'united',
 'esper',
 'patrick',
 'army',
 'department',
 'june',
 'trump',
 'confirmed',
 'senate',
 'official',
 'position',
 'president',
 'announced',
 'served',
 'born',
 'september',
 'mark',
 'politician',
 'government',
 'raytheon',
 'office',
 'donald',
 'previously',
 'war',
 'appointed',
 'film',
 'american',
 'films',
 'television',
 'award',
 'role',
 'best',
 'career',
 'musical',
 'born',
 'academy',
 'including',
 'series',
 'director',
 'tisdale',
 'awards',
 'age',
 'actor',
 'lumet',
 'singer',
 'actress',
 'garfield',
 'united',
 'received',
 'began',
 'work',
 'hollywood',
 'producer',
 'death',
 'roles',
 'aircraft',
 'air',
 'fighter',
 'airbus',
 'new',
 'development',
 'systems',
 'united',
 'boeing',
 'bae',
 'company',
 'service',
 'defence',
 'jet',
 'eurofighter',
 'combat',
 'flight',
 'sixthgeneration',
 'family',
 'russian',
 'ethiopian',
 'typhoon',
 'engine',
 'british',
 'dassault',
 'generation',
 'future',
 'version',
 'designed',
 'market',
 'film',
 'love',
 'species',
 'whales',
 'right',
 'whale',
 'united',
 'pacific',
 'mauritius',
 'parakeet',
 'north',
 'women',
 'series',
 'including',
 'population',
 'states',
 'american',
 'family',
 'islands',
 'actress',
 'best',
 'novel',
 'world',
 'arabian',
 'crocodiles',
 'smith',
 'born',
 'known',
 'philosophy',
 'award',
 'series',
 'television',
 'born',
 'film',
 'american',
 'known',
 'comics',
 'dc',
 'boys',
 'new',
 'book',
 'roles',
 'comic',
 'actor',
 'bachelor',
 'hotel',
 'role',
 'marvel',
 'issue',
 'best',
 'model',
 'abc',
 'july',
 'appeared',
 'host',
 'amazon',
 'world',
 'actress',
 'drama',
 'illustrated',
 'game',
 'games',
 'video',
 'released',
 'rare',
 'spectrum',
 'ultimate',
 'graphics',
 'group',
 'computer',
 'series',
 'knight',
 'song',
 'zx',
 'united',
 'wrestling',
 'white',
 'magazine',
 'company',
 'american',
 'including',
 'new',
 'born',
 'isometric',
 'vikernes',
 'later',
 'championship',
 'lore',
 'xbox',
 'bbc',
 'prints',
 'century',
 'printing',
 'ukiyoe',
 'museum',
 'series',
 'british',
 'japanese',
 'art',
 'mirror',
 'games',
 'helmet',
 'east',
 'used',
 'fuji',
 'loot',
 'surface',
 'views',
 'works',
 'known',
 'artists',
 'hiroshiges',
 'mount',
 'woodblock',
 'sutton',
 'western',
 'hokusai',
 'maryon',
 'metalwork',
 'widely',
 'album',
 'american',
 'united',
 'born',
 'released',
 'music',
 'series',
 'band',
 'megadeth',
 'states',
 'sexual',
 'clarkson',
 'number',
 'billboard',
 'studio',
 'security',
 'following',
 'albums',
 'new',
 'women',
 'guitarist',
 'games',
 'metal',
 'hunger',
 'records',
 'federal',
 'grammy',
 'pop',
 'chart',
 'mustaine',
 'united',
 'iran',
 'saudi',
 'states',
 'property',
 'government',
 'iranian',
 'sanctions',
 'president',
 'international',
 'khashoggi',
 'fsln',
 'war',
 'film',
 'waters',
 'including',
 'national',
 'foreign',
 'consulate',
 'irans',
 'american',
 'reagan',
 'gulf',
 'november',
 'october',
 'nicaragua',
 'action',
 'high',
 'contras',
 'persian',
 'american',
 'film',
 'hydrogen',
 'series',
 'television',
 'born',
 'united',
 'comedy',
 'city',
 'states',
 'landis',
 'gas',
 'known',
 'writing',
 'disease',
 'rail',
 'february',
 'murphy',
 'years',
 'directed',
 'based',
 'energy',
 'gases',
 'people',
 'world',
 'actor',
 'new',
 'written',
 'action',
 'dysgraphia',
 'dynasty',
 'chinese',
 'emperor',
 'tang',
 'han',
 'li',
 'nanyue',
 'china',
 'sui',
 'jade',
 'country',
 'zhao',
 'bc',
 'including',
 'population',
 'taizong',
 'central',
 'somalia',
 'regions',
 'international',
 'southern',
 'empire',
 'northern',
 'century',
 'somali',
 'established',
 'languages',
 'nicaragua',
 'kingdom',
 'yang',
 'film',
 'series',
 'actress',
 'american',
 'born',
 'films',
 'awards',
 'television',
 'award',
 'actor',
 'known',
 'roles',
 'best',
 'peewee',
 'reubens',
 'april',
 'role',
 'scoobydoo',
 'comedy',
 'drama',
 'debut',
 'million',
 'media',
 'began',
 'produced',
 'fashion',
 'music',
 'spanish',
 'divergent',
 'including',
 'aircraft',
 'air',
 'force',
 'military',
 'area',
 'states',
 'united',
 'aerial',
 'iran',
 'unmanned',
 'war',
 'command',
 'defence',
 'systems',
 'iranian',
 'control',
 'reconnaissance',
 'soviet',
 'forces',
 'defense',
 'surveillance',
 'raaf',
 'vehicle',
 'flight',
 'operations',
 'used',
 'uavs',
 'islamic',
 'missiles',
 'based',
 'egyptian',
 'president',
 'egypt',
 'morsi',
 'military',
 'june',
 'arabic',
 'minister',
 'election',
 'mohamed',
 'arab',
 'french',
 'war',
 'mubarak',
 'muslim',
 'born',
 'brotherhood',
 'government',
 'served',
 'presidential',
 'prime',
 'political',
 'july',
 'august',
 'egypts',
 'church',
 'france',
 'office',
 'party',
 'coup',
 'film',
 'american',
 'united',
 'states',
 'award',
 'album',
 'released',
 'library',
 'series',
 'known',
 'best',
 'national',
 'born',
 'actor',
 'music',
 'received',
 'books',
 'discworld',
 'world',
 'albums',
 'novels',
 'june',
 'imam',
 'death',
 'nominated',
 'awards',
 'congress',
 'space',
 'television',
 'million']

In [18]:
# If more than half of the cluster have it as a top word, exclude it from the list
add_stop_words = [word for word, count in Counter(words).most_common() if count > len(df)]
add_stop_words

[]

In [19]:
# Let's update our document-term matrix with the new list of stop words
from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer

# Read in cleaned data
data_clean = pd.read_pickle('data_clean.pkl')

# Add new stop words
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate document-term matrix
cv = CountVectorizer(stop_words=stop_words)
data_cv = cv.fit_transform(data_clean.extract)
data_stop = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_stop.index = data_clean.index

# Pickle it for later use
import pickle
pickle.dump(cv, open("cv_stop.pkl", "wb"))
data_stop.to_pickle("dtm_stop.pkl")

# Topic Modeling

### First Attempt : all the words

In [20]:
# Import the necessary modules for LDA with gensim
from gensim import matutils, models
import scipy.sparse

In [21]:
# One of the required inputs is a term-document matrix
tdm = data_dtm.transpose()
tdm.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
aardvark,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0
aaron,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ab,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ababa,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
abandon,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [22]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [23]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [24]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=5, passes=40)
lda.print_topics()

[(0,
  '0.006*"air" + 0.006*"aircraft" + 0.005*"united" + 0.005*"game" + 0.004*"states" + 0.004*"american" + 0.003*"force" + 0.003*"games" + 0.003*"military" + 0.003*"series"'),
 (1,
  '0.010*"series" + 0.005*"television" + 0.004*"born" + 0.004*"american" + 0.004*"film" + 0.004*"known" + 0.003*"dc" + 0.003*"comics" + 0.003*"boys" + 0.002*"new"'),
 (2,
  '0.007*"american" + 0.007*"film" + 0.005*"born" + 0.004*"united" + 0.004*"series" + 0.003*"states" + 0.003*"new" + 0.003*"known" + 0.003*"best" + 0.003*"vanderbilt"'),
 (3,
  '0.005*"united" + 0.004*"aircraft" + 0.004*"air" + 0.003*"states" + 0.003*"saudi" + 0.003*"iran" + 0.003*"war" + 0.003*"british" + 0.002*"government" + 0.002*"new"'),
 (4,
  '0.010*"dynasty" + 0.008*"chinese" + 0.006*"emperor" + 0.006*"tang" + 0.005*"han" + 0.004*"nanyue" + 0.004*"li" + 0.003*"china" + 0.003*"sui" + 0.003*"jade"')]

### Second Attempt : nouns only

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

In [54]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [55]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('data_clean.pkl')
data_clean

                                              extract
0   saintnazaire french pronunciation  breton sant...
1   gadsby is a  novel by ernest vincent wright wr...
2   bombshell is a  american precode romantic come...
3   patrick michael shanahan born june   is an ame...
4   west side story is a  american romantic musica...
5   the mikoyan  russian   nato reporting name ful...
6   the witches is a  dark fantasy comedy film dir...
7   samara weaving born  february  is an australia...
8   elite is a space trading video game  it was wr...
9   thirtysix views of mount fuji  fugaku sanjūrok...
10  last week tonight with john oliver often abrid...
11  there have been a number of sanctions against ...
12  deborah nadoolman landis born may   is an amer...
13  jade refers to an ornamental mineral mostly kn...
14  bruce weigert paltrow november    october   wa...
15  the  english thunderbolt is an iranian turbofa...
16  entissar amer arabic   born  december  is marr...
17  kelendria trene kelly  rowland born february  ...

In [56]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.extract.apply(nouns))
data_nouns

                                              extract
0   french neñseir western traditional major right...
1   novel ernest fictional little noticed constrai...
2   american romantic jean morgan c mary franchot ...
3   american retired general white mark last june ...
4   west american romantic musical robert broadway...
5   mikoyan russian russian united further first s...
6   dark anjelica rowan same original evil ordinar...
7   born australian further indi australian ready ...
8   ian acorn september revolutionary contemporary...
9   thirtysix fugaku japanese ukiyoe mount differe...
10  last last american comedian halfhourlong sunda...
11  united international first united radical amer...
12  nadoolman american such notable animal more ma...
13  ornamental green different ancient asian impor...
14  paltrow american american musician comedian vi...
15  english iranian unmanned aerial shahed smaller...
16  entissar born sixth egypt first el arabic egyp...
17  born american late hiatus first deep uk single...

In [33]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.extract)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,aardvark,aaron,ab,ababa,abba,abbas,abbasid,abbassia,abbey,abbreviation,...,éomer,ögedei,āṣifat,īsā,ōban,ḥiṣān,ḥusayn,ḥusnī,ḥusēn,ḵāšuqjī
0,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,1,1,1,0
17,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [34]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [35]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.005*"president" + 0.005*"war" + 0.004*"states" + 0.004*"government" + 0.003*"world" + 0.003*"june" + 0.003*"city" + 0.003*"france" + 0.003*"egypt" + 0.003*"dynasty"'),
 (1,
  '0.010*"film" + 0.008*"series" + 0.005*"states" + 0.005*"television" + 0.005*"aircraft" + 0.005*"air" + 0.004*"films" + 0.003*"award" + 0.003*"family" + 0.003*"album"')]

In [37]:
# Let's start with more topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.005*"city" + 0.005*"championship" + 0.005*"war" + 0.004*"france" + 0.004*"battle" + 0.004*"army" + 0.004*"world" + 0.003*"secretary" + 0.003*"years" + 0.003*"year"'),
 (1,
  '0.015*"film" + 0.011*"series" + 0.007*"television" + 0.005*"films" + 0.005*"states" + 0.005*"award" + 0.005*"actress" + 0.005*"album" + 0.004*"actor" + 0.004*"role"'),
 (2,
  '0.008*"game" + 0.006*"games" + 0.005*"vanderbilt" + 0.005*"family" + 0.005*"century" + 0.004*"dynasty" + 0.004*"emperor" + 0.004*"series" + 0.004*"york" + 0.003*"tang"'),
 (3,
  '0.012*"aircraft" + 0.012*"air" + 0.008*"president" + 0.008*"states" + 0.006*"war" + 0.005*"iran" + 0.005*"government" + 0.005*"force" + 0.004*"egypt" + 0.004*"systems"')]

### Third Attempt : nouns and adjectives only

In [38]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [40]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.extract.apply(nouns_adj))
data_nouns_adj

                                              extract
0   saintnazaire french pronunciation breton neñse...
1   gadsby novel ernest vincent wright lipogram wo...
2   bombshell american precode romantic comedydram...
3   patrick michael june american government offic...
4   west side story american romantic musical dram...
5   mikoyan russian nato reporting name fulcrumf r...
6   witches dark fantasy comedy film nicolas roeg ...
7   samara born february australian actress model ...
8   elite space trading video game david braben ia...
9   thirtysix views mount fuji fugaku sanjūrokkei ...
10  last week tonight john last week tonight ameri...
11  number sanctions iran number countries united ...
12  deborah nadoolman born american author histori...
13  jade refers ornamental mineral green varieties...
14  bruce weigert paltrow october american televis...
15  english thunderbolt iranian wing unmanned comb...
16  entissar amer arabic born december sixth presi...
17  kelendria born february american singer songwr...

In [41]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.extract)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

,aardvark,aaron,ab,ababa,abba,abbas,abbasid,abbassia,abbey,abbreviation,...,ögedei,āṣifat,īsā,ōban,ḥizb,ḥiṣān,ḥusayn,ḥusnī,ḥusēn,ḵāšuqjī
0,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,1,0,0,1,0,0,...,0,0,1,0,1,0,1,1,1,0
17,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [42]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [43]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.008*"film" + 0.004*"television" + 0.003*"films" + 0.003*"family" + 0.003*"vanderbilt" + 0.003*"award" + 0.003*"game" + 0.003*"actress" + 0.002*"actor" + 0.002*"best"'),
 (1,
  '0.004*"president" + 0.004*"air" + 0.004*"military" + 0.003*"aircraft" + 0.003*"iran" + 0.003*"area" + 0.003*"egyptian" + 0.003*"government" + 0.002*"film" + 0.002*"egypt"')]

In [45]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.007*"vanderbilt" + 0.006*"game" + 0.005*"film" + 0.005*"family" + 0.004*"games" + 0.003*"york" + 0.003*"right" + 0.003*"species" + 0.002*"whales" + 0.002*"video"'),
 (1,
  '0.009*"album" + 0.004*"music" + 0.004*"band" + 0.003*"sexual" + 0.003*"studio" + 0.003*"albums" + 0.003*"security" + 0.003*"clarkson" + 0.003*"women" + 0.003*"guitarist"'),
 (2,
  '0.013*"film" + 0.006*"television" + 0.005*"films" + 0.004*"actor" + 0.004*"award" + 0.004*"actress" + 0.003*"roles" + 0.003*"awards" + 0.003*"career" + 0.003*"best"'),
 (3,
  '0.007*"air" + 0.006*"aircraft" + 0.005*"military" + 0.005*"president" + 0.003*"government" + 0.003*"iran" + 0.003*"french" + 0.003*"egyptian" + 0.003*"force" + 0.003*"area"')]

In [65]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=7, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.007*"saudi" + 0.006*"iran" + 0.004*"government" + 0.004*"property" + 0.004*"iranian" + 0.004*"president" + 0.004*"sanctions" + 0.003*"prints" + 0.003*"fsln" + 0.003*"khashoggi"'),
 (1,
  '0.008*"vanderbilt" + 0.007*"album" + 0.006*"film" + 0.004*"music" + 0.004*"york" + 0.004*"award" + 0.003*"family" + 0.003*"albums" + 0.003*"actor" + 0.003*"band"'),
 (2,
  '0.009*"film" + 0.006*"species" + 0.006*"right" + 0.006*"whales" + 0.005*"love" + 0.004*"whale" + 0.004*"pacific" + 0.003*"north" + 0.003*"parakeet" + 0.003*"women"'),
 (3,
  '0.005*"championship" + 0.005*"french" + 0.004*"france" + 0.004*"battle" + 0.004*"wwe" + 0.003*"army" + 0.003*"title" + 0.003*"scientology" + 0.003*"champion" + 0.003*"death"'),
 (4,
  '0.011*"film" + 0.009*"aircraft" + 0.008*"air" + 0.006*"television" + 0.005*"films" + 0.004*"actress" + 0.004*"force" + 0.003*"actor" + 0.003*"roles" + 0.003*"systems"'),
 (5,
  '0.009*"egyptian" + 0.009*"president" + 0.009*"game" + 0.008*"egypt" + 0.006*"games" + 0.006*"morsi" + 0.005*"military" + 0.004*"election" + 0.004*"minister" + 0.004*"video"'),
 (6,
  '0.013*"dynasty" + 0.012*"chinese" + 0.009*"emperor" + 0.008*"tang" + 0.007*"han" + 0.005*"li" + 0.005*"nanyue" + 0.004*"china" + 0.004*"sui" + 0.004*"jade"')]

# Identify topics in each class

In [77]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
#list(zip([a for [(a,b)] in corpus_transformed], data_dtm.index))
try:
    listt = list(zip(corpus_transformed, data_dtm.index))
except IndexError:
    pass

In [78]:
for i in range(0, len(listt)):
    list_of_topics = []
    for j in range(0, len(listt[i][0])):
        list_of_topics.append(listt[i][0][j][0])
    print('Class:' , listt[i][1], 'Topic(s):', list_of_topics)

Class: 0 Topic(s): [3]
Class: 1 Topic(s): [3]
Class: 2 Topic(s): [1]
Class: 3 Topic(s): [4]
Class: 4 Topic(s): [4]
Class: 5 Topic(s): [4]
Class: 6 Topic(s): [2]
Class: 7 Topic(s): [4]
Class: 8 Topic(s): [5]
Class: 9 Topic(s): [0]
Class: 10 Topic(s): [1]
Class: 11 Topic(s): [0]
Class: 12 Topic(s): [4]
Class: 13 Topic(s): [6]
Class: 14 Topic(s): [4]
Class: 15 Topic(s): [4]
Class: 16 Topic(s): [5]
Class: 17 Topic(s): [1]